doctype html
html(lang="en")
    head
        //- content
        include ./layouts/head.pug

    body.container
        //- start
        .swiper.steps
            .swiper-wrapper

                //- 1
                .swiper-slide
                    .text-content 
                        p აბა, რას იტყვი, მზად ხარ 
                            br
                            b &nbsp;ძმიშვილო?!
                    .footer
                        button.btn.btn-primary(type="button") მზად ვარ!

                //- 2
                .swiper-slide
                    .text-content.px-3
                        p მაინტერესებს, კარგი მეხსიერება გაქვს
                            b &nbsp; ძმიშვილო?!
                    .footer
                        button.btn.btn-primary(type="button") არა
                        button.btn.btn-primary(type="button") კი

                //- 3
                .swiper-slide
                    img(src="assets/image/1.jpg", alt="1")

                    .text-content.px-3
                        p რას ფიქრობ, შენი აზრით
                            b &nbsp; საყვარელი ხარ?
                    .footer
                        button.btn.btn-primary(type="button") არა
                        button.btn.btn-primary(type="button") კი

                //- 4
                .swiper-slide
                    .text-content.px-3
                        p არაუშავს
                            b &nbsp;შეცდომებს&nbsp;
                            | ყველა უშვებს. გააგრძელებ თამაშს?!
                    .footer
                        button.btn.btn-primary(type="button") გავაგრძელებ!

                //- 5
                .swiper-slide
                    .text-content.px-3
                        p გააგრძელებ, გააგრძელებ აბა რას იზამ.
                            b &nbsp;სხვა გზა არც გაქვს ძმიშვილო!
                    .footer.flex-column
                        button.btn.btn-primary.w-100(type="button") მართალია!
                        button.btn.btn-primary.w-100(type="button") თავში არ აგივარდეს რაა!

                //- 6
                .swiper-slide
                    .text-content.px-3
                        p კარგი მოვრჩეთ. სჯობს მოვრჩეთ და საქმეზე გადავიდეთ
                            b &nbsp;რას იტყვი?
                    .footer
                        button.btn.btn-primary.w-100(type="button") კარგი იქნება

                //- 7
                .swiper-slide
                    .text-content.px-3
                        p ხომ იცი ერთი შანსი გაქვს, გთხოვ
                            b &nbsp;შეცდომა&nbsp;
                            | არ დაუშვა!
                    .footer
                        button.btn.btn-primary.w-100(type="button") ოქეიი

                //- 8
                .swiper-slide
                    .text-content.px-3
                        p 1. შენ მეგობრად აირჩიე (
                            b მეოცნებე, ფსიქოპატი, გიჟი და უცნაური
                            | ) ადამიანი. შენი აზრით სწორი გადაწყვეტილება მიიღე?
                    .footer
                        button.btn.btn-primary.w-100(type="button") არა
                        button.btn.btn-primary.w-100(type="button") კი

                //- 9
                .swiper-slide
                    .text-content.px-3
                        p 2. რას ფიქრობ (
                            b მე და შენ
                            | ) ვგავართ ერთმანეთს?
                    .footer
                        button.btn.btn-primary.w-100(type="button") არა
                        button.btn.btn-primary.w-100(type="button") კი

                //- 10
                .swiper-slide
                    .text-content.px-3
                        p 3. რას ფიქრობ გაგრძელდება ჩვენი (
                            b მეგობრული
                            | ) ურთიერთობა დიდხანს?
                    .footer
                        button.btn.btn-primary.w-100(type="button") არა
                        button.btn.btn-primary.w-100(type="button") კი  

                //- 11
                .swiper-slide
                    .text-content.px-3
                        p 4. 2 + 2&nbsp;
                            b
                                | =
                    .footer
                        button.btn.btn-primary.w-100(type="button") 8
                        button.btn.btn-primary.w-100(type="button") 4  

                //- 12
                .swiper-slide
                    .text-content.px-3
                        p სამწუხაროდ პასუხი არასწორია.&nbsp;
                            b პასუხი არასწორია ძმიშვილო.&nbsp;
                            | ასე რომ დიდხანს აღარ გავწელავ და ჩემს სათქმელს პირდაპირ გეტყვი.
                    .footer
                        button.btn.btn-primary.w-100(type="button") კარგი, როგორც გინდა! 

                //- 13
                .swiper-slide
                    .text-content.px-3
                        p ნია, გილოცავ დაბადების დღეს. მრავალს დაესწარი, ჯანმრთელი და ბედნიერი. გისურვებ ყოველივე კარგს და საკუთარი მიზნებისა და ოცნებების ასრულებას. ვიცი ახლა გეღიმება, ან თუ არ გეღიმება გაიღიმე. შენთვის მეტის გაკეთება არ შემიძლია, ასე რომ ერთადერთი რამ რისი თქმის უფლებასაც საკუთარ თავს მივცემ ისაა რომ გითხრა:
                            b &nbsp; გაიღიმე ძმიშვილო, გაიღიმე. შენც ხომ ხვდები რომ ცხოვრება ხანმოკლე და მშვენიერია.
                    .footer
                        a.btn.w-100(href="https://youtu.be/5u4xTa3LR2U?si=TX1Z5nVF8Rzwcyz7") მადლობა, მაგრამ ამას მარილიც მოაყარე.
            .swiper-button-next.d-none
            .swiper-button-prev.d-none


    //- script
    include ./layouts/script.pug
