@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian:wght@100..900&display=swap");

$text-primary: #d7d7d9;
$text-secondary: #616165;
$bg-primary: #000;
$bg-secondary: #111;
$border: 1px solid #424245;
$green: #00ff41;

html {
  height: 100%;
}

body {
  background-color: $bg-primary;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Noto Sans Georgian", sans-serif;
}

b {
  color: $green;
}

.swiper {
  height: 100%;

  .swiper-wrapper {
    height: 100%;

    .swiper-slide {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 100%;
      gap: 3rem;

      img{
        width: 280px;
        height: 210px;
        object-fit: cover;
        border-radius: 20px;
      }

      .text-content {
        text-align: center;

        &.al {
          text-align: left;
        }

        p {
          margin: 0;
          color: $text-primary;
          font-weight: 700;
        }
      }

      .footer {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;

        a,
        button {
          padding: 10px 25px;
          font-size: 14px;
          border-radius: 999px;
          border-color: $text-primary;
          background-color: $text-primary;
          color: $bg-primary;
          font-weight: 600;
          text-decoration: none !important;
        }
      }
    }
  }
}
